@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.black-header {
    background-color: black;
    height: 30vh;
}

.blended-image {
    position: relative;
}


.blended-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('Images/Griot\ Theater\ -\ Featured\ Shows\ -\ Desktop-Laptop.jpg') center/cover no-repeat; 
}

.navbar {
    z-index: 1;
}



.customnavbar-bg {
    background-color:#17778f;
}


h1, p {
    font-family: 'Roboto', sans-serif;
}

.section-with-line {
    position: relative;
    margin-bottom: 20px; 
    text-align: center;
}

.line-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    height: 2px%;
    background-color: black;
}

.line-text {
    padding: 0 10px;
    font-weight: bold;
}

.footer {
    background-color: black;
    color:white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black-footer {
    background-color: black;
    width: 205vh;
    height:auto;
}
.column {
    flex: 1;
    margin-right: 20px;
    color:beige
}


.footer-image {
    max-width: 30%;
    max-height: 30%;
    width: auto;
    height: auto;
}