@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.black-header {
    background-color: black;
    height: 30vh;
}

.blended-image {
    position: relative;
}


.blended-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('Images/Griot\ Theater\ -\ Featured\ Shows\ -\ Desktop-Laptop.jpg') center/cover no-repeat; 
}

.navbar {
    z-index: 1;
}

h1, p {
    font-family: 'Roboto', sans-serif;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column img {
    max-width: 100%;
    height: auto;
}

.column {
    flex: 1;
    margin-right: 20px;
}
